@model B1812282_VoNgocLong.Models.BENHNHAN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BENHNHAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TENBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYSINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYSINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIOITINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOITINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOITUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOITUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIENTHOAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIENTHOAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MABN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
